.footer {
  @apply text-white;
  @apply mx-auto;

  .footer-top {
    @apply bg-gray-900 px-48 py-8;
    @apply grid grid-cols-3 gap-8;

    p {
      @apply mb-4 mt-4;
    }

    h3 {
      @apply mb-4 mt-4 text-2xl font-bold;
    }

    ul {
      li {
        @apply leading-10;

        .icon {
          color: #ed3b25;
        }
      }
    }

    input {
      @apply text-black mb-4 mt-4 p-4 w-full;
      @apply border border-gray-400 rounded focus:border-gray-500 focus:outline-none;
    }
  }

  .footer-bottom {
    @apply bg-black px-48 py-8;
    @apply flex justify-between items-center;

    ul {
      @apply flex;
      li {
        @apply mx-4;
        .fb:hover {
          color: #077aea;
        }
        .tw:hover {
          color: #00acee;
        }
        .li:hover {
          color: #0e76a8;
        }
        .in:hover {
          color: #e1306c;
        }
      }
    }
  }
}
